In [1]:
from app.db import DatabaseInsertion

In [2]:
db = DatabaseInsertion()

df = db.extract_data(
    table_name = "pipeline_db",
    number_row= 15
)

df.head()

The connection is success

   id                date  app    price
0  37 2023-07-29 13:00:02  btc  29279.9
1  36 2023-07-29 12:00:02  btc  29271.3
2  35 2023-07-29 11:00:02  btc  29280.2
3  34 2023-07-29 10:00:02  btc  29278.8
4  33 2023-07-29 09:00:02  btc  29291.4