In [1]:
import os

from app.db import DatabaseInsertion

In [2]:
db = DatabaseInsertion()

df = db.extract_data(
    table_name = "pipeline_db",
    number_row= 46
)

df.head()

The connection is success

   id                date  app    price
0  56 2023-07-30 08:00:02  btc  29296.0
1  55 2023-07-30 07:00:02  btc  29285.6
2  54 2023-07-30 06:00:02  btc  29313.4
3  53 2023-07-30 05:00:02  btc  29325.2
4  52 2023-07-30 04:00:02  btc  29317.7

In [3]:
import torch

model = torch.load(
    os.path.join("etc", "secrets", "model", "NN_btc-hourly__20230729_180557.pth")
)

input_shape = model.state_dict()['linears.0.weight'].shape[1]

In [4]:
model.eval()

NNModel(
  (linears): ModuleList(
    (0): Linear(in_features=45, out_features=256, bias=True)
    (1-3): 3 x Linear(in_features=256, out_features=256, bias=True)
  )
  (fc_final): Linear(in_features=256, out_features=1, bias=True)
)

In [16]:
price_lst = df["price"].tolist()

In [21]:
price_lst.reverse()

feature = torch.tensor([price_lst[-input_shape:]])

In [26]:
model(feature).item()

29303.673828125

In [27]:
import random
import string

In [29]:
characters = string.ascii_letters + string.digits
''.join(random.choice(characters) for _ in range(10))

'x6AqVxlI6L'